<div class="card">
  <div>
    <img src="{{ content }}" alt="{{ content }}">
  </div>
  <div class="card-content">
    <a class="card-title" href="/gif/{{id}}">
      {{ content }}
    </a>
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
    <span class="gif__date">{{ createdAt }}</span>
    <span class="gif_comments">{{ comments.length }} Comments</span>
    <form action="{{this.id}}?_method=DELETE" method="POST">
      <input type="submit" value="Remove">
    </form>
    <form action="{{this.id}}?_method=PUT" method="POST">
      <input type="text" value="{{ content }}">
      <input type="submit" value="Update">
    </form>
  </div>
</div>
