<div>
  <div>
    <img src="{{ content }}" alt="{{ content }}">
  </div>
  <div>
    <a href="/gif/{{id}}">
      {{ content }}
    </a>
  </div>
  <div>
    <a href="/user/{{ author.id }}">{{ author.local.email }}</a>
    <span class="gif__date">{{ createdAt }}</span>
    <span class="gif_comments">{{ comments.length }} Comments</span>
    <form action="gif/{{this.id}}?_method=DELETE" method="POST">
      <input type="submit" value="Remove">
    </form>
  </div>
</div>
