<p>
  {{> 'gif'}}
</p>
{{#if currentUser}}
<form action="{{this.id}}?_method=DELETE" method="POST">
  <input type="submit" value="Remove">
</form>
<form action="/gif/{{id}}?_method=PUT" method="POST">
  <input type="text" name="content" id="" value="{{ content }}">
  <input type="submit" value="Update" id="updateBut">
</form>
{{/if }}

{{#if comments.length}}
  {{#each comments}}
    <div class="gif">
      <div>
        <span>
          {{ content }}
        </span>
      </div>
      <div>
        <a href="/user/{{ author.id }}">{{ author.local.email }}</a>
        <span class="gif__date">{{ createdAt }}</span>
      </div>
    </div>
  {{/each}}
{{/if}}

{{#if currentUser}}
<div>
  <div>
    <h4>Add a comment:</h6>
    <form method="POST" action="/gif/{{id}}?_method=PUT">
      <p>
        <label for="content"></label>
        <input type="text" name="content" id="">
      </p>
      <p>
        <input type="submit" value="Submit">
      </p>
    </form>
  </div>
</div>
{{/if }}