<p>
  {{> 'gif'}}
</p>

{{#if comments.length}}
  {{#each comments}}
    <div>
      <div>
        <span>
          {{ content }}
        </span>
      </div>
      <div>
        <a href="/user/{{ author.id }}">{{ author.local.email }}</a>
        <span class="gif__date">{{ createdAt }}</span>
      </div>
    </div>
  {{/each}}
{{/if}}

{{#if currentUser}}
<div>
  <div>
    <h4>Add a comment:</h6>
    <form method="POST" action="/gif/{{id}}?_method=PUT">
      <p>
        <label for="content"></label>
        <input type="text" name="content" id="">
      </p>
      <p>
        <input type="submit" value="Submit">
      </p>
    </form>
  </div>
</div>
{{/if }}